---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';


.project {
  border-color: black;
  border-left-width: thick;
  border-left: solid;
  padding-left: 10px;
}

.title {
  font-size: 25px;
}

.post-teaser {
  border-color: black;
  border-width: thick;
  border-top: solid;
}

.about {
  border-width: thick;
  border: solid;
}

.post-link {
  font-size: 25px;
}

.work .project .project-thumb img {
  box-shadow: 5px 2.5px 7.5px black;
}
