---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';


.project {
  border-color: black;
  border-width: thick;
  border: solid;
  padding: 10px;
  box-shadow: 10px 10px 35px;
}

.title {
  font-size: 25px;
}

.post-teaser {
  border-color: black;
  border-width: thick;
  border-top: solid;
}

.about {
  border-width: thick;
  border: solid;
}

.post-link {
  font-size: 25px;
}
